body {
    background: #333 url( "../images/Noisey80percentBlkUniform4percent.jpg" ) fixed;
}

#left-border {
    background-image: url("../images/woodborder.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 74px;
    height: 100%;
    box-shadow: 0 0 8px #222;
}

h1 {
	text-align: center;
	color: #151515;
	text-shadow: 0 2px 3px #686868;
	font-size: 260%;
}

div#list {
  margin-top: 2%;
    margin-left: 20%;
    font-size: 16pt;
}

div:empty {
    height: 4px;
    background-color: #151515;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 2px 3px #555;
}

li {
    padding: 4px;
    color: gold;
    list-style-type: square;
}

li a:link, li a:visited {
    color: gold;
}

li a:hover {
    color: lightyellow;
}

li a:active {
    color: red;
}

#back-to-home, #back, button {
	z-index: 1;
	position: relative;
	top: 3em;
	left: 10%;
	color: black;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	padding: 0.25em 0.6em;
	border: 1px solid black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 1px #333;
	text-decoration: none;
	outline: none;
}
